.green-teaser {
    background: #547665;
}

.green-teaser__content {
    /* display: contents; */
    padding: 221px 81px 135px 137px;
    margin: 0 auto;
}

.green-teaser__text {
    display: contents;
    flex-grow: 1;

}

.green-teaser-title {
    font-size: 40px;
    line-height: 55px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.green-teaser-info {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0px;
    color: #EEF2F4;
    opacity: 1;
}

.green-teaser-btn {
    display: flex;
    /* width: -webkit-fill-available; */
    border: 1px solid #FFFFFF;
    outline: 0;
    display: inline-block;
    padding: 13px 56px 13px 51px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0px;
    color: #F7F5E6;
    font-weight: bold;
    background-color: #547665;
    text-align: left;
    cursor: pointer;
}

.green-teaser-img {
    width: -webkit-fill-available;
    height: 731px;
    overflow: hidden;
}

.green-teaser-img img {
    position: relative;
    bottom: 30%;
    right: -10%;

}


@media screen and (max-width: 1275px) {
    .container-0-61 {
        padding: 0px !important;
    }

    .green-teaser__content {
        padding: 128px 21px 93px 20px;
    }

    .green-teaser-img {
       height: 940px;
    }

    .green-teaser-img img {
        bottom: 42%;
        right: 80%;
      
    }
}

@media screen and (max-width: 992px) {
    .container-0-61 {
        padding: 0px !important;
    }

    .green-teaser__content {
        padding: 128px 21px 93px 20px;
    }

    .green-teaser-img {
       height: 940px;
    }

    .green-teaser-img img {
        bottom: 42%;
        right: 80%;
      
    }
}

@media screen and (max-width: 768px) {
    .container-0-61 {
        padding: 0px !important;
    }

    .green-teaser__content {
        padding: 128px 21px 93px 20px;
    }

    .green-teaser-img {
       height: 940px;
    }

    .green-teaser-img img {
        bottom: 42%;
        right: 11%;
      
    }
}

@media screen and (max-width: 576px) {
    .container-0-61 {
        padding: 0px !important;
    }

    .green-teaser__content {
        padding: 128px 21px 93px 20px;
    }

    .green-teaser-img {
       height: 940px;
    }

    .green-teaser-img img {
        bottom: 42%;
        right: 61%;
      
    }
}

@media screen and (max-width: 376px) {
    .container-0-61 {
        padding: 0px !important;
    }

    .green-teaser__content {
        padding: 128px 21px 93px 20px;
    }

    .green-teaser-img {
       height: 940px;
    }

    .green-teaser-img img {
        bottom: 42%;
        right: 80%;
    }


}