.card-img {
  transition: 0.3s;
  width: 75%;
}
.image-tiles-main-paragraph{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
  color: #354E57;
  opacity: 1;
  margin-top: -12px;
}
.image-tiles-img-wrap {
  width: 100%;
  height: 346px;
  background: #F7F7F7;
}
.img-tile-space {
  padding: 1px 190px 125px 222px;
}
.image-tiles {
  background: #F7F7F7;
  overflow-x: hidden
}
.img-tile-area {
  display: contents;
  padding: 2px 16px;
  margin: 0 auto;
}
.img-tile-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  margin-left: 80px;
  letter-spacing: 0px;
  color: #2E2E22;
  opacity: 1;
}
.image-tiles-img {
  width: 100%;
  height: 60%;
  margin-left: 44px;
  object-position: center bottom;
  object-fit: cover;
}
.image-tiles-main-heading{
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0px;
  color: #354E57;
  opacity: 1;
  margin-bottom: 12px;
}
.img-tiles-6{
  width: 110%;
  height: 271px;
}
.img-tile-main-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #354E57;
  opacity: 1;
  margin-top: -106px;
}
@media screen and (max-width: 1275px) {
  .img-tile-space {
    padding: 0px 12px 0px 20px;
  }

  .image-tiles-img {
    object-fit: contain;
  }
  .image-tiles-img-wrap {
    height: 327px;
  }
  .img-tile-main-text {
    margin-top: -80px;
  }
  
  .img-tiles-6{
    width: 100%;
    height: 172px;
  }
  
}

@media screen and (max-width: 992px) {
  .img-tile-space {
    padding: 0px 12px 0px 45px;
  }
  .card-img{
    width: 100%;
  }
  .image-tiles-img {
    object-fit: contain;
    margin-left: 0px;
  }
  .img-tile-main-text, .img-tile-text {
    margin-left: 0px;
  }
  .image-tiles-img-wrap {
    height: 327px;
  } 
  .img-tiles-6{
    width: 100%;
    height: 172px;
  }
 
}

@media screen and (max-width: 768px) {
  .img-tile-space {
    padding: 0px 16px 0px 64px;
  }
  .card-img{
    width: 100%;
  }
  .image-tiles-img {
    object-fit: contain;
    margin-left: 0px;
  }
  .img-tile-main-text, .img-tile-text {
    margin-left: 0px;
  }
  .image-tiles-img-wrap {
    height: 345px;
  }
  .img-tiles-6{
    width: 100%;
    height: 172px;
  }
}

@media screen and (max-width: 576px) {
  .img-tile-space {
    padding: 0px 31px 0px 31px;
  }
  .card-img{
    width: 100%;
  }
  .image-tiles-img {
    object-fit: contain;
    margin-left: 0px;
  }
  .img-tile-main-text, .img-tile-text {
    margin-left: 0px;
  }
  .image-tiles-img-wrap {
    height: 245px;
    width: 100%;
  } 
  .img-tiles-6{
    width: 100%;
    height: 172px;
  }
  
}

@media screen and (max-width: 376px) {
  .img-tile-space {
    padding: 0px 31px 0px 31px;
  }
  .card-img{
    width: 100%;
  }
  .image-tiles-img {
    object-fit: contain;
    margin-left: 0px;
  }
  .img-tile-main-text, .img-tile-text {
    margin-left: 0px;
  }
  .image-tiles-img-wrap {
    width: 100%;
    height: 225px;
  }
  .img-tiles-6{
    width: 100%;
    height: 172px;
  }
}