/* .product-teaser-extra-padding {
  padding: 1px 0px 125px 98px;
} */
.product-teaser-extra-padding {
  padding: 1px 8px 125px 106px;
}

.product-teaser {
  background: #eef3f4;
  border: 1px solid #547665;
  overflow-x: hidden
}

.product-teaser__content {
  display: contents;
  padding: 2px 16px;
  margin: 0 auto;
}

.product-teaser__text {
  flex-grow: 1;
  font-size: 28px;

}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 75%;
}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
.product-teaser-img-wrap {
  width: 100%;
  height: 346px;
  background: white;
}

.product-teaser-img {
  /* width: 100%;
    background: white; */
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: cover;
}

.product-teaser-heading {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0px;
  color: #2E2E22;
  opacity: 1;
}

.product-teaser-paragraph {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0px;
  color: #2E2E22;
  opacity: 1;
}

.btn-product-teaser {
  display: flex;
  width: -webkit-fill-available;
  border: 1px solid #354E57;
  outline: 0;
  display: inline-block;
  padding: 11px 25px 10px 25px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  color: #2E2E22;
  font-weight: bold;
  background-color: #eef3f4;
  text-align: center;
  cursor: pointer;

}

.btn-product-teaser:hover {
  background-color: white;
}

.mr-right-86 {
  margin-right: 86px;
}
.margin-right-10{
  margin-right: 10px;
}

@media screen and (max-width: 1275px) {
  .product-teaser-extra-padding {
    padding: 0px 12px 0px 20px;
  }

  .product-teaser-img {
    object-fit: contain;
  }
  .product-teaser-img-wrap {
    height: 327px;
  }
  .btn-product-teaser{ 
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 992px) {
  .product-teaser-extra-padding {
    padding: 0px 12px 0px 45px;
  }

  .product-teaser-img {
    object-fit: contain;
  }
  .product-teaser-img-wrap {
    height: 327px;
  }
  .btn-product-teaser{ 
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 768px) {
  .product-teaser-extra-padding {
    padding: 0px 16px 0px 64px;
  }
  .card{
    width: 86%;
  }
  .product-teaser-img-wrap {
    height: 345px;
  }

  .product-teaser-img {
    object-fit: contain;
  }
  
  .btn-product-teaser{ 
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 576px) {
  .product-teaser-extra-padding {
    padding: 0px 0px 0px 20px;
  }
  .card{
    width: 82%;
  }


  .product-teaser-img {
    object-fit: contain;
  }
  .product-teaser-img-wrap {
    height: 245px;
    width: 100%;
  }
  .btn-product-teaser{ 
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 376px) {
  .product-teaser-extra-padding {
    padding: 0px 0px 0px 20px;
  }
  .card{
    width: 82%;
  }

  .product-teaser-img {
    object-fit: contain;
  }

  .product-teaser-img-wrap {
    width: 100%;
    height: 225px;
  }
  .btn-product-teaser{ 
    margin-bottom: 55px;
  }
}