//index

//offerbanner
$background-a67744: #A67744;
$color-f7f5e6: #F7F5E6; 
$font-family: 'Proxima Nova';
//header
$color-293D45 : #293D45;
$color-354e57 :#354e57;
//header menu mobile 
$color-222 : #222;
$background-f7f7f7 : #f7f7f7;
$background-354e57: #354E57;
$color-293D45 : #293D45;
//hero banner
$color-354E57 : #354E57;
$color-2E2E22 : #2E2E22;
$color-e2e6e9 : #e2e6e9;
//secondary banner
$background-eef3f4: #eef3f4;
$background-547665: #547665;
$background-354e57: #354E57;
$text-align: center;
//product teaser
$background-white: white;
$background-eef3f4: #eef3f4;
$color-2e2e22: #2E2E22;
$border-354e57: #354E57;
//green teaser
$green-teaser-547665 :  #547665;
$pink-teaser-C6B9B6 :  #C6B9B6;
$color-FFFFFF: #FFFFFF;
$color-2E2E22: #2E2E22;
//image tiles
$background-F7F7F7 : #F7F7F7;
$background-354e57: #354E57;
$color-2E2E22: #2E2E22;
//feature banner
$background-eef3f4: #EEF3F4;
$color-354e57: #354E57;
//newsletter
$color-FFFFFF: #FFFFFF;
$color-black: black;
$oxford-blue-354e57: #354E57;
$border-e7e0eb: #e7e0eb;
$color-956a53: #956A53;
$background-fff: #fff;
$color-212529: #212529;
$text-align: center;
//footer
$oxford-blue-354e57: #354E57;
$border-707070: #707070;
$color-FFFFFF: #FFFFFF;