@import "variable";
@import "offerbanner.scss";
@import "header.scss";
@import "menubar.scss";
@import "hero-banner.scss";
@import "secondary-banner.scss";
@import "product-teaser.scss";
@import "prdteaser3.scss";
@import "feature-banner.scss";
@import "news-letter.scss";
@import "image-tiles.scss";
@import "green-teaser.scss";
@import "footer.scss";

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Proxima Nova';
  background-color: #E2E6E9;
}

.container {
  max-width: 1280px;
}
.minheight {
  min-height: 32px;
}
.position-absolute {
  position: absolute;
}
.absposition{
  position: absolute;
    margin: 20px;
} 
.stopParentScroll{
  overflow: hidden;
}
.hide {
  display: none;
}
  .row {
    margin: 16px 0;
  }
  .col {
    min-height: 32px;
  }
  .col-240{
    min-height: 240px;
  }
  .position-absolute {
    position: absolute;
  }
  .paddingbottom {
    padding-bottom: 125px;
  }
  .container60{
    padding: 0px 60px;
  }
  .brownbtn{
    color: #A67744;
  }
  .normalfont{
    font-weight: normal;
  }

   .newbtn {
    background-color: #F7F7F7;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0px;
    color: #354E57;
    font-weight: bold;
    display: flex;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 9px 12px 7px 11px;
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (max-width: 1280px) and (min-width: 992px) {
    .hideindesktop {
      display: none;
    }
  }
  @media screen and (max-width: 1536px) and (min-width: 1280px) {
    .container {
        max-width: 1360px;
    }
    .row-margin-tpbt-ltrt-30-0{
      margin: 29px 0;
    }
  }
  @media screen and (max-width: 1280px) and (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
  }
  @media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .hideintablet {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .reverse {
      display: flex !important;
      flex-direction: column-reverse;
    }
    .col-240 {
      min-height: 440px;
  }
  }
  @media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .reverse {
      display: flex !important;
      flex-direction: column-reverse;
    }
    .col-240 {
      min-height: 340px;
  }
  }
  @media screen and (max-width: 426px){
    .col-240 {
        min-height: 280px;
    }
    }
  @media screen and (max-width: 376px) {
    .hideinphone {
      display: none;
    }
    .reverse {
      display: flex !important;
      flex-direction: column-reverse;
    }
  }

 
  
