*,
*:before,
*:after {
  list-style: none;
}

.menu--fade {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  color: #222;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
  z-index: 1;
}

.menu__content {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: scroll;
}

.menu__content > ul.topmenutext {
  position: absolute;
  top: 53%;
  left: 19%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.menu__content > ul.btmmenutext {
  position: absolute;
  top: 100%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.btmmenutext {
  color: #354E57;
  font-weight: bold;
  font-size: 12px;
  line-height: 40px;
  padding-left: 62px;
}

.btmmenutext ul {
  top: 30%;
}

.menu__close {
  position: absolute;
  top: 0;
  right: 33rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-decoration: none;
  color: #000;
}

.menu__close:after {
  content: "+";
  font-size: 2rem;
}

.menu__close:focus,
.menu__close:hover,
.menu__close:active {
  text-decoration: none;
}

.topmenutext {
  margin-top: 12px;
  color: #354E57;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 61px;
}

.mobile-close {
  float: left !important;
  left: 60px;
  top: 48px;
  color: #293D45;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#menu-fade:target {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  width: 100%;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#page:target .menu--fade {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s, width 0s ease 0.5s, height 0s ease 0.5s;
  -webkit-transition: opacity 0.5s, width 0s ease 0.5s, height 0s ease 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, width 0s ease 0.5s, height 0s ease 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, width 0s ease 0.5s, height 0s ease 0.5s;
  transition: opacity 0.5s, transform 0.5s, width 0s ease 0.5s, height 0s ease 0.5s, -webkit-transform 0.5s;
}

.mobile-cart {
  position: -webkit-sticky;
  position: sticky;
  float: right !important;
  margin-right: 20px !important;
  top: 65px;
  left: 58px;
  color: #293D45;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  font-weight: bold;
}
/*# sourceMappingURL=menubar.css.map */