.header {
	overflow: hidden;
	.icon {
		display: none;
	}
	a {
		text-decoration: none;
		&.logo {
			font-size: 25px;
			font-weight: bold;
		}
	}
}
.header-row {
	margin: 8px 0;
}
.headerpadding {
	padding: 14px 0px 58px 0px;
}
.headerpadding2 {
	padding: 2px 23px;
}
.headerpaddingleft {
	padding-left: 90px;
}
.headerpaddingright {
	padding-right: 30px;
}
.floatright {
	float: right;
	color: #354e57;
}
.floatleft {
	float: left;
	color: #354e57;
}
.header-container {
	padding: 20px 84px 0px 86px;
}
.header-menu {
	float: none;
	overflow: hidden;
	text-align: center;
	margin-left: 37px;
	a {
		&.title {
			font-size: 32px;
			line-height: 39px;
			color: #293D45;
			padding: 7px 0px 45px 0px;
			letter-spacing: 1.6px;
		}
	}
}
.headertext {
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.6px;
	line-height: 14px;
}
.header-menu-row2 {
	float: none;
	overflow: hidden;
	text-align: center;
	margin-left: 37px;
	color: #354e57 !important;
}
.headerbtmtext {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.8px;
	font-weight: 700;
}
